
.meal-tracker {
  background: $red $pattern-spoons-red ;
  color: #fff;
  text-align: center;
  
  h2 {
    margin-bottom: $base;
    color: #fff;
    font-weight: $reg;
  }
  
  h3 {
    @include font-size(66px);
    margin-bottom: 12px;
    color: #fff;
    font-weight: $heavy;
    line-height: 1;

    @include bp-min-width($small) {
      @include font-size(84px);
    }
  }
  
  p {
    @include font-size(18px);
  }
}
