
.our-partners {
  position: relative;
  border-top: 1px solid $lt-grey-2;
  
  .wrapper {
    padding-top: $base*2;
    
    @include bp-min-width($medium) {
      padding-top: $base*3;
    }
  }
}

.partners-slider {
  padding: 0 60px;
  
  .partner {
    position: relative;
    min-height: 144px;
    text-align: center;
  }
  
  .logo {
    @include absolute-center;
    width: 100%;
    padding: 0 12px;
  }
}

.our-partners .owl-prev,
.our-partners .owl-next {
  top: 30%;
  width: 60px;
  height: 60px;
  background: $turq;
  border-radius: 50%;
}

.our-partners .owl-prev {
  left: 0;
}

.our-partners .owl-next {
  right: 0;
}
