
.footer {
  padding: $base*1.5 0 $base;
  background: $green;
  color: #fff;

  @include bp-min-width($large) {
    padding-top: $base*2;
  }
  
  a {
    color: #fff;
  }
}

.footer .top {
  @include cf;
  width: 100%;
  padding-bottom: $base*1.5;
  
  @include bp-min-width($large) {
    padding-bottom: $base*2;
  }
}

.footer h4 {
  color: #fff;
}

.footer .logo {
  @include bp-max-width($xlarge) {
    display: none;
  }

  @include bp-min-width($xlarge) {
    float: left;
    width: 24%;
    margin-top: -6px;
    padding-right: 40px;
  }
}

.footer .newsletter {

  @include bp-max-width($large) {
    margin-bottom: $base*1.5;
    text-align: center;
  }

  @include bp-min-max($large, $xlarge) {
    float: left;
    width: 50%;
  }

  @include bp-min-width($xlarge) {
    float: left;
    width: 39%;
    padding-right: 20px;
  }
  
  h4 {
    margin-bottom: 16px;

    @include bp-min-width($large) {
      margin-bottom: $base;
    }
  }
    
  label {
    position: absolute;
    top: 8px;
    left: 12px;
    color: $grey;
  }
  
  input {
    height: 42px;
  }
  
  .btn {
    @include font-size(18px);
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.55em 1em;
  }
}

.footer .newsletter .form-newsletter {
  position: relative;
  max-width: 360px;
  padding-right: 118px;
  background: #fff;

  @include bp-max-width($large) {
    margin: 0 auto;
  }
}


.footer .social-links {
  @include bp-max-width($large) {
    text-align: center;
  }

  @include bp-min-max($large, $xlarge) {
    float: left;
    width: 28%;
  }
  
  @include bp-min-width($xlarge) {
    float: left;
    width: 24%;
  }
  
  h4 {
    margin-bottom: 16px;

    @include bp-min-width($large) {
      margin-bottom: $base;
    }
  }
}

.footer .social-links li {
  display: inline-block;
  margin: 0 10px;
  
  @include bp-min-width($large) {
    float: left;
    margin: 0 20px 12px 0;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.footer-nav {
  @include bp-max-width($large) {
    margin-bottom: $base*1.5;
    text-align: center;
  }

  @include bp-min-max($large, $xlarge) {
    float: right;
    width: 22%;
    text-align: right;
  }

  @include bp-min-width($xlarge) {
    float: right;
    width: 13%;
    text-align: right;
  }
  
  a {
    font-weight: $heavy;
    text-transform: uppercase;
  }
}

.footer .bottom {
  @include cf;
  @include font-size(14px);
  width: 100%;
  padding-top: $base;
  border-top: 1px solid #fff;
  text-align: center;
  
  .copyright {
    @include bp-min-width($xsmall) {
      float: left;
    }
  }
  
  .site-by {
    @include bp-min-width($xsmall) {
      float: right;
    }
  }
}