
.header {
  padding: 18px 0 $base;
  border-bottom: 2px solid $lt-grey-2;
}

.header .logo {
  float: left;
  width: 266px;

  @include bp-min-width($medium) {
    margin-top: 6px;
  }
}

.header .top {
  @include cf;
  
  @include bp-min-width($medium) {
    float: right;
    margin-bottom: $base;
  }
}

.header .top .social-links {
  float: right;
  margin-left: 12px;
  
  li {
    float: left;
    margin-left: 20px;
  }
}

.header .top .form-newsletter {
  position: relative;
  float: right;
  padding-right: 92px;
  border: 1px solid $lt-grey;
  
  label {
    @include font-size(14px);
    position: absolute;
    top: 6px;
    left: 10px;
    color: $grey;
  }
  
  input {
    border: none;
  }
  
  .btn {
    @extend .grey;
    @include font-size(14px);
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75em 1em;
  }
}

.nav {
  @include bp-min-width($medium) {
    float: right;
    clear: right;
  }
}

.nav li {
  @include bp-min-width($medium) {
    position: relative;
    float: left;
    margin-left: 50px;
  }
  
  &:after {
    @include rotate(30deg);
    content: "";
    position: absolute;
    top: 7px;
    left: -25px;
    width: 2px;
    height: 38px;
    background: $yellow;
  }
  
  &:first-child:after,
  &:last-child:after {
    display: none;
  }
}


.nav a {
  color: $grey;
  font-weight: $heavy;
  line-height: 51px;
  text-transform: uppercase;

  @include bp-min-width($medium) {
    @include font-size(21px);
  }
  
  &:hover {
    color: $black;
  }
}

.nav li:last-child a {
  @extend .btn;
  @extend .red;
  line-height: 1.5;
}