
.header {
  position: relative;
  padding-top: 18px;

  @include bp-min-width($xsmall) {
    padding-bottom: 66px;
  }

  @include bp-min-width($large) {
    border-bottom: 2px solid $lt-grey-2;
    padding-bottom: $base;
  }
}

.header .wrapper {
  @include bp-max-width($xsmall) {
    margin: 0;
  }
}

.header .logo {
  float: left;
  width: 160px;

  @include bp-max-width($xsmall) {
    margin-bottom: 18px;
    margin-left: 4%;
  }

  @include bp-min-width($medium) {
    width: 200px;
    margin-top: 16px;
  }

  @include bp-min-width($xlarge) {
    width: 266px;
    margin-top: 6px;
  }
}

.header .top {
  @include bp-max-width($medium) {
    display: none;
  }

  @include bp-min-width($medium) {
    @include cf;
    float: right;
    margin-bottom: $base;
  }
}

.header .top .social-links {
  float: right;
  margin-left: 12px;

  li {
    float: left;
    margin-left: 20px;
  }
}

.header .top .form-newsletter {
  position: relative;
  float: right;
  padding-right: 92px;
  border: 1px solid $lt-grey;

  @include bp-max-width($large) {
    width: 280px;
  }

  .form-item {
    margin-bottom: 0;
  }

  label {
    @include font-size(14px);
    position: absolute;
    top: 6px;
    left: 10px;
    color: $grey;
  }

  input {
    border: none;
  }

  .btn {
    @extend .grey;
    @include font-size(14px);
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75em 1em;
  }
}
