
.nav {
  clear: both;
  
  @include bp-min-width($xsmall) {
    float: right;
    clear: right;
  }
}

.menu-main-menu-container {
  @include bp-max-width($xsmall) {
    display: none;
    
    &.show {
      display: block;
      width: 100%;
    }
  }

  @include bp-min-max($xsmall, $large) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: $yellow;
    text-align: center;
  }
  
  @include bp-min-width($large) {
    float: left;
  }
}

.nav li {

  @include bp-min-width($xsmall) {
    display: inline-block;
  }

  @include bp-min-max($xsmall, $large) {
    margin: 0 20px;
  }
    
  @include bp-min-width($large) {
    position: relative;
    float: left;
    margin-left: 40px;
    padding-top: 2px;
  }

  @include bp-min-width($xlarge) {
    margin-left: 50px;
  }
  
  &:after {
    @include bp-min-width($large) {
      @include rotate(30deg);
      content: "";
      position: absolute;
      top: 9px;
      left: -20px;
      width: 2px;
      height: 38px;
      background: $yellow;
    }

    @include bp-min-width($xlarge) {
      left: -25px;
    }
  }
  
  &:first-child:after {
    display: none;
  }
}

.nav li a {
  color: $grey;
  font-weight: $heavy;
  line-height: 51px;
  text-transform: uppercase;

  @include bp-max-width($xsmall) {
    display: block;
    background: $yellow;
    text-align: center;
  }
  
  @include bp-min-width($medium) {
    @include font-size(18px);
  }

  @include bp-min-width($xlarge) {
    @include font-size(21px);
  }
  
  &:hover {
    color: $black;
  }
}

.nav .btn-donate {
  @extend .red;
  color: #fff;
  line-height: 1.5;

  @include bp-max-width($medium) {
    position: absolute;
    top: 30px;
    right: 4%;
    font-size: 1em;
  }

  @include bp-min-width($large) {
    margin-left: 30px;
    float: right;
  }
  
  &:hover {
    color: #fff;
  }
}

/** Mobile Menu Button **/

.nav .btn-mobile {
  width: 100%;
  background: $yellow;
  margin-top: $base;
  color: $grey;
  line-height: 1.5;
  text-align: center;
    
  @include bp-min-width($xsmall) {
    display: none;
    margin-left: 30px;
  }
}

.btn-mobile .icon-menu {
  position: relative;
  display: inline-block;
  vertical-align: -2px;
  width: 20px;
  height: 16px;
  margin-right: 5px;
  background: none;
    
  .bar {
    display: block;
    width: 20px;
    height: 3px;
    margin-bottom: 3px;
    background: $grey;
    border-radius: 2px;
  }
}

.btn-mobile.active .icon-menu {
  height: 9px;
}

.btn-mobile.active .bar {
  @include transition(all 0.2s ease-in);
  position: absolute;
  top: 0;
  left: 0;
  background-color: $grey;
  
  &:nth-child(1) {
    @include transform(rotate(45deg));
  }
  
  &:nth-child(2) {
    @include transform(rotate(-45deg));
  }
  
  &:nth-child(3) {
    opacity: 0;
  }
}

.btn-mobile.active .bar:nth-child(2) {
  position: absolute;
  left: 0;
  background-color: $grey;
}

.btn-mobile.active .bar:nth-child(3) {
  display: none;
}