
a {
  @include global-transition;
	color: $green;
	
	&:hover {
	}
}

.btn {
  @include font-size(18px);
  display: inline-block;
  padding: 0.75em 1.25em;
  background: $green;
  color: #fff;
  font-weight: $heavy;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  
  &:hover {
    background: $dk-green;
  }
  
  &.red {
    background: $red;
    
    &:hover {
      background: $dk-red;
    }
  }

  &.yellow {
    background: $yellow;
    
    &:hover {
      background: $gold
    }
  }

  &.grey {
    background: $grey;
    
    &:hover {
      background: $black;
    }
  }
}
