
$black:     #363636;

$lt-grey-2: #d9d9d9;
$lt-grey:   #c0c0c0;
$grey:      #818282;

$creme:     #fff3c8;
$yellow:    #fcd268;
$dk-yellow: #f7c300;
$gold:      #d4a737;

$green:     #8aad64;
$dk-green:  #567931;

$turq:      #97d4c9;
$dk-turq:   #66a196;

$red:       #ec6e6a;
$dk-red:    #d15352;

$pink:      #f7a489;
$dk-pink:   #da7554;