
$hero-home: image-url("bg-hero-home.jpg");

$pic-hero-01: image-url("pic-hero-01.jpg");

$pic-how-01: image-url("pic-how-01.jpg");
$pic-how-02: image-url("pic-how-02.jpg");
$pic-how-03: image-url("pic-how-03.jpg");
$pic-how-04: image-url("pic-how-04.jpg");

$pic-donate-01: image-url("pic-donate-01.jpg");

$bg-testimonials: image-url("bg-testimonials.jpg");

$pattern-utensils-green: image-url("pattern-utensils-green.png");
$pattern-utensils-turq: image-url("pattern-utensils-turq.png");
$pattern-utensils-yellow: image-url("pattern-utensils-yellow.png");
$pattern-utensils-pink: image-url("pattern-utensils-pink.png");
$pattern-utensils-red: image-url("pattern-utensils-red.png");

$pattern-spoons-red: image-url("pattern-spoons-red.png");