body {
  background: $lt-grey;
}

.page {
  background: #fff;

  @include bp-min-width($medium) {
    @include cf;
    max-width: 1800px;
    margin: 0 auto;
  }
}

.main .wrapper {
  padding: $base 0;

  @include bp-min-width($medium) {
    padding: $base*2 0;
  }
}

.wrapper {
  @include cf;
  margin: 0 5%;

  @include bp-min-width($medium) {
    width: 92%;
    max-width: 1400px;
    margin: 0 auto;
  }
}

.section .wrapper {
  padding: $base 0;
  
  @include bp-min-width($medium) {
    padding: $base*2.5 0;
  }
}

.page-template-default .body {
  max-width: 680px;
  margin: 0 auto;
  padding-top: $base;
}

.width-10-col {
  max-width: 1160px;
  margin: 0 auto;
}

.width-8-col {
  max-width: 920px;
  margin: 0 auto;
}

.width-6-col {
  max-width: 680px;
  margin: 0 auto;
}