body {
  background: $lt-grey;
}

.page {
  background: #fff;

  @include bp-min-width($medium) {
    @include cf;
    max-width: 1800px;
    margin: 0 auto;
  }
}

.wrapper {
  @include cf;
  margin: 0 5%;

  @include bp-min-width($medium) {
    width: 92%;
    max-width: 1400px;
    margin: 0 auto;
  }
}

.section .wrapper {
  padding: $base 0;
  
  @include bp-min-width($medium) {
    padding: $base*2.5 0;
  }
}