
// SITE MIXINS

@mixin intro {
  max-width: 680px;
  margin-bottom: $base;
  text-align: center;

  @include bp-min-width($medium) {
    @include font-size(24px);
    @include line-height(30px);
    font-family: $sans;
    margin: 0 auto $base*2;
  }
}

@mixin width-10-col {
  max-width: 1160px;
  margin: 0 auto;
}

@mixin width-8-col {
  max-width: 920px;
  margin: 0 auto;
}

@mixin width-6-col {
  max-width: 680px;
  margin: 0 auto;
}

@mixin width-4-col {
  max-width: 440px;
  margin: 0 auto;
}

// CLEARFIX
@mixin cf {
  &:before, &:after {
    content: " ";
    display: block;
  }
  &:after {
    clear: both;
  }
  *zoom:1;
}

// GLOBAL TRANSITION
@mixin global-transition {
	@include transition(all 0.15s ease-in);
}


// CENTER ALIGN
@mixin vertical-center($position) {
  @include translateY(-50%);
  position: $position;
  top: 50%;
}

@mixin horizontal-center($position) {
  @include translateX(-50%);
  position: $position;
  left: 50%;
}

@mixin absolute-center {
  @include translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}


// REMs
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@function calculateEm($size) {
  $emSize: $size / 16px;
  @return $emSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin line-height($size) {
  line-height: $size;
  line-height: calculateRem($size);
}


// TRIANGLE
@mixin down-triangle($size, $color) {
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-top: $size solid $color;
}

@mixin up-triangle($size, $color) {
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-bottom: $size solid $color;
}
