@import url(http://fonts.googleapis.com/css?family=Lato:400,900,700,400italic);

$sans: 'Lato', Helvetica, arial, sans-serif;

$reg:   400;
$bold:  700;
$heavy: 900;

$base:  24px;

body {
  font: $reg 1em/1.5em $sans;
  color: $grey;
}

h1,h2,h3,h4,h5 {
  line-height: 1;
}

h1 {
  @include font-size(48px);
  color: #fff;
  font-weight: $heavy;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

h2 {
  @include font-size(36px);
  margin-bottom: $base;
  color: $green;
  font-weight: $heavy;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

h3 {
  @include font-size(24px);
  color: $grey;
  font-weight: $heavy;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

h4 {
  @include font-size(18px);
  font-weight: $heavy;
}

p {
  @include font-size(17px);
}

.page-title {
  max-width: 900px;
  margin: 0 auto $base;
  text-align: center;
  color: $green;
}

.section-title {
  margin-bottom: $base*2.5;
  text-align: center;
}

.intro {
  max-width: 680px;
  margin-bottom: $base;
  text-align: center;

  @include bp-min-width($medium) {
    @include font-size(24px);
    @include line-height(30px);
    margin: 0 auto $base*2;
  }
}

strong {
  font-weight: $bold;
}

em {
  font-style: italic;
}

.label {
  font-weight: $bold;
}

.body p,
.body ul,
.body ol {
  margin-bottom: $base;

  &:last-child, &.label {
    margin-bottom: 0;
  }
}

.body ul,
.body ol {
  margin-left: 1.5em;
}

.body ul li {
  list-style: disc;
}

.body ol li {
  list-style: decimal;
}
