
.page-id-6 .main .wrapper {
  padding-bottom: $base*3;
}

.team {
  position: relative;
  border-top: 1px solid $lt-grey;
  
  .wrapper {
    padding: $base*3 5%;
  }
}

.team .member {
  @include cf;
  @include width-6-col;
  position: relative;
  margin-bottom: $base*2;

  @include bp-min-width($medium) {
    margin-bottom: $base*3;
  }
  
  &:last-of-type {
    margin-bottom: 0;
  }
}

.member-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  
  img {
    border-radius: 50%;
  }
}

.member-info {
  padding-left: 200px;
}

.team .member h3 {
  margin-bottom: 12px;
  color: $black;
}