
.page-id-22 .page-title {
  margin-bottom: $base;
  color: $red;
}

.donate-form-block {
  @include cf;
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  background: $lt-grey-3;
  border: 1px solid $lt-grey;

  @include bp-min-width($medium) {
    margin-bottom: $base*2;
  }
}

.donate-image {
  width: 100%;
  height: $base*10;
  background: $pic-donate-01 no-repeat center center;
  background-size: cover;

  @include bp-min-width($medium) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 48%;
  }
}

.donate-form {
  text-align: center;
  padding: $base*1.5 4%;

  @include bp-min-width($medium) {
    padding: $base*2 4% $base*2 52%;
  }
  
  h3 {
    margin-bottom: $base;
  }
}

.donate-form .amount {
  display: inline-block;
  position: relative;
  max-width: 360px;
  margin-bottom: $base;
  background: #fff;
  border: 1px solid $lt-grey-2;
  
  input {
    @include font-size(36px);
    height: 60px;
    padding: 0 100px 0 40px;
    color: $turq;
  }
  
  .dollar-sign {
    @include font-size(24px);
    position: absolute;
    top: 18px;
    left: 16px;
  }
  
  .currency {
    @include font-size(24px);
    position: absolute;
    top: 18px;
    right: 16px;
    color: $lt-grey;
  }
}

.donate-form .recurring {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 360px;
  margin-bottom: $base;
  text-align: left;
  
  label {
    @include font-size(14px);
  }
}

.donate-form .btn {
  @include font-size(24px);
  width: 100%;
  max-width: 360px;
  margin-bottom: $base;
  background: $turq;
  line-height: 1;
  
  &:hover {
    background: $dk-turq;
  }
}

.donate-form .by-check p {
  @include font-size(12px);
  @include line-height(18px);
  max-width: 360px;
  margin: 0 auto;
  color: $grey;
  
  &:first-of-type {
    @include font-size(14px);
    font-weight: $bold;
  }
}

