
.main-fundraiser {
  padding-bottom: $base*2;
  text-align: center;
}

.fundraiser-header,
.fundraiser-info {
  @include cf;

  @include bp-max-width($xlarge) {
    @include width-8-col;
    margin-bottom: $base*3;
  }

  @include bp-min-width($xlarge) {
    display: inline-block;
    vertical-align: middle;
    width: 48%;
    margin-bottom: $base*3;
  }
}

.fundraiser-header .host,
.fundraiser-header .cook-off {
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

.logo-cook-off {
  max-width: 298px;
  height: auto;
}

.fundraiser-header .host-headshot {
  margin-bottom: 12px;
  padding: 0 29px;
  border-radius: 50%;
  width: 100%;
  max-width: 298px;
}

.fundraiser-info [class*="icon-"] {
  margin-bottom: $base;
}

.fundraiser-info p {
  font-weight: $bold;
  color: $black;
}

.fundraiser-cta {
  margin-bottom: $base*2;
}

.fundraiser-cta li {
  display: inline-block;
  margin: 0 20px;
}

.fundraiser-chefs,
.fundraiser-panel,
.fundraiser-teams {
  position: relative;
  border-top: 1px solid $lt-grey-2;
}

.fundraiser-grid {
  text-align: center;
}

.fundraiser-grid li {
  display: inline-block;
  width: 160px;
  margin: 0 20px $base*2;
}

.fundraiser-committee {
  background: $lt-grey-3;
  border-top: 1px solid $lt-grey-2;
}

.fundraiser-committee .fundraiser-grid li {
  @include font-size(18px);
  color: $black;
  font-weight: $bold;
}

