
.main-fundraiser {
  @include cf;
  margin-bottom: $base*3;
  background: $pattern-utensils-yellow;

  @include bp-max-width($large) {
    border-top: 1px solid $dk-yellow;
  }
}

.main-fundraiser .page-title {
  color: $black;
}

.fundraiser-header,
.fundraiser-info {
  @include cf;
  text-align: center;

  @include bp-max-width($xlarge) {
    @include width-8-col;
  }

  @include bp-min-width($xlarge) {
    display: inline-block;
    vertical-align: middle;
    width: 48%;
  }
}

.fundraiser-header .host,
.fundraiser-header .cook-off {
  @include bp-max-width($medium) {
    margin-bottom: $base;
  }

  @include bp-min-width($medium) {
    display: inline-block;
    vertical-align: top;
    width: 48%;
  }
}

.logo-cook-off {
  max-width: 298px;
  height: auto;
}

.fundraiser-header .host-headshot {
  margin-bottom: 12px;
  padding: 0 29px;
  border-radius: 50%;
  width: 100%;
  max-width: 298px;
}

.fundraiser-header .host h3,
.fundraiser-header .host p {
  color: $black;
}

.fundraiser-info .col-1-3 {
  margin-bottom: $base;

  @include bp-min-width($medium) {
    margin-bottom: $base*2;
  }

  @include bp-min-max($medium, $large) {
    width: 33.333%;
    margin-top: $base;
  }
}

.fundraiser-info .info-icon {
  @include bp-max-width($medium) {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 66px;
    height: 66px;
    background: #fff;
    border-radius: 50%;
  }

  @include bp-min-width($medium) {
    margin-bottom: $base;
  }
}

.fundraiser-info p {
  @include bp-max-width($medium) {
    display: inline-block;
    vertical-align: middle;
    width: 220px;
    padding-left: 20px;
    text-align: left;
  }

  font-weight: $bold;
  color: $black;
}

.fundraiser-info .fundraiser-cta {
  margin-top: $base*1.5;
}

.fundraiser-info .fundraiser-cta li {
  margin-bottom: $base;

  @include bp-min-width($xsmall) {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.fundraiser-details .wrapper {
  position: relative;

  @include bp-min-width($xlarge) {
    padding-bottom: $base*4;
  }
}

.fundraiser-body {
  @include bp-min-width($large) {
    padding-right: 440px;
  }

  @include bp-min-width($xlarge) {
    padding-right: 560px;
  }
}

.fundraiser-body h3 {
  margin-bottom: $base;
  color: $red;

  @include bp-min-width($medium) {
    @include font-size(32px);
  }
}

.fundraiser-details .fundraiser-cta {
  @include cf;
  margin-top: $base*1.5;
}

.fundraiser-details .fundraiser-cta li {
  margin-bottom: $base;

  @include bp-min-width($xsmall) {
    float: left;
    margin-right: 20px;
  }
}

.fundraiser-ticket-info {
  padding: 20px;
  border: 1px solid $red;

  @include bp-min-width($large) {
    position: absolute;
    top: 0;
    right: 0;
    width: 380px;
  }

  @include bp-min-width($xlarge) {
    width: 440px;
  }
}

.ticket-option {
  position: relative;
  padding-left: 90px;
}

.ticket-option:first-child {
  margin-bottom: $base;
  padding-bottom: $base;
  border-bottom: 1px solid $red;
}

.ticket-price {
  @include font-size(21px);
  position: absolute;
  left: 0;
  top: 0;
  width: 72px;
  height: 72px;
  background: $red;
  border-radius: 50%;
  color: #fff;
  line-height: 72px;
  font-weight: $bold;
  text-align: center;
}

.ticket-option h4 {
  margin-bottom: 6px;
  padding-top: 6px;
  color: $red;
}

.ticket-option li {
  @include font-size(15px);
  color: $black;
}

.fundraiser-chefs,
.fundraiser-panel,
.fundraiser-teams {
  position: relative;
  border-top: 1px solid $lt-grey-2;

  .wrapper {
    @include bp-min-width($large) {
      padding-top: $base*4;
    }
  }
}

.fundraiser-grid {
  text-align: center;
}

.fundraiser-grid li {
  display: inline-block;
  width: 160px;
  margin: 0 20px $base*2;
}

.fundraiser-committee {
  background: $lt-grey-3;
  border-top: 1px solid $lt-grey-2;
}

.fundraiser-committee .fundraiser-grid li {
  @include font-size(18px);
  color: $black;
  font-weight: $bold;
}

