
.how-it-works {
  text-align: center;
  
  p {
    color: $grey;
  }
}

.how-it-works .how-image {
  position: relative;
  height: $base*8;
  margin-bottom: 18px;
  background-size: cover;
  
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
  }
  
  h3 {
    @include absolute-center;
    display: block;
    width: 100%;
    padding: 0 24px;
    color: #fff;
  }
}

.how-it-works .col-1-4:nth-child(1) .how-image {
  background: $pic-how-01 no-repeat;
}

.how-it-works .col-1-4:nth-child(2) .how-image {
  background: $pic-how-02 no-repeat;
}

.how-it-works .col-1-4:nth-child(3) .how-image {
  background: $pic-how-03 no-repeat;
}

.how-it-works .col-1-4:nth-child(4) .how-image {
  background: $pic-how-04 no-repeat;
}

.our-partners {
  position: relative;
  border-top: 1px solid $lt-grey-2;
  
  .wrapper {
    padding-top: $base;
    
    @include bp-min-width($medium) {
      padding-top: $base*3;
    }
  }
  
  .icon-fork {
    @include horizontal-center(absolute);
    top: -15px;
    background: #fff;
    padding: 0 20px;
  }
}

.partners-slider {
  padding: 0 80px;

  .partner {
    position: relative;
    min-height: 144px;
    text-align: center;
  }
  
  .logo {
    @include absolute-center;
    width: 100%;
    padding: 0 12px;
  }
}

.partners-slider .owl-prev {
  left: 0;
}

.partners-slider .owl-next {
  right: 0;
}

.meal-tracker {
  background: $red $pattern-spoons-red ;
  color: #fff;
  text-align: center;
  
  h2 {
    margin-bottom: $base;
    color: #fff;
    font-weight: $reg;
  }
  
  h3 {
    @include font-size(84px);
    margin-bottom: 12px;
    color: #fff;
    font-weight: $heavy;
    line-height: 1;
  }
  
  p {
    @include font-size(18px);
  }
}

.testimonials {
  background: $yellow $bg-testimonials no-repeat;
  background-size: cover;
  color: $black;
  text-align: center;
  
  .section-title {
    margin-bottom: $base;
    color: #fff;
  }
}

.testimonials-slider {
  max-width: 680px;
  margin: 0 auto;
  
  .quote-info {
    @include cf;
  }
}

.testimonials-slider .quote {
  margin-bottom: $base*1.5;

  p {
    @include font-size(30px);
    @include line-height(36px);
    font-style: italic;
  }
}

.testimonials-slider .thumb {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  width: 96px;
  margin-right: 12px;
  border-radius: 50%;
}

.testimonials-slider .name {
  @include font-size(18px);
  display: inline-block;
  font-weight: $bold;
  text-transform: uppercase;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 30%;
  width: 60px;
  height: 60px;
  background: $turq;
  border-radius: 50%;
  
  [class*="icon-"] {
    @include absolute-center;
  }
}

.testimonials-slider .owl-prev {
  left: -100px;
}

.testimonials-slider .owl-next {
  right: -100px;
}

.testimonials-slider .owl-prev,
.testimonials-slider .owl-next {
  @include global-transition;
  background: $red;
  
  &:hover {
    background: $dk-red;
  }
}

