
.volunteer-grid {
  text-align: center;
  
  [class*="col-"] {
    margin-bottom: $base*2;

    @include bp-max-width($large) {
      float: none;
      max-width: 440px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .volunteer-image {
    margin-bottom: $base;
  }
  
  h2 {
    @include font-size(24px);
    margin-bottom: 12px;
    color: $grey;
  }
  
  p:first-of-type {
    margin-bottom: $base;
  }
}

.volunteer-grid a {
  @extend .btn;
  @extend .yellow;
}

.volunteer-form-grid {
  @extend .width-10-col;
}

.volunteer-form p {
  margin-bottom: $base;
}